<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/common.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1 class = "titulo">404</h1> 
    </header>
    <main>
        <p class="bigSize">500</p>
        <p class="bigSize">Internal Server Error</p>
    </main>
</body>

</html>