<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/formular_pregunta.css" media="screen"/>
        
    </head>
    <body>
        <header>
            <div class="cabecera">
                <a class="button" href="/question/listar_preguntas">Preguntas</a>
                <a class="button" href="/question/preguntasSinResponder">Sin responder</a>
                <a class="button" href="/question/preguntas">Usuarios</a>
            </div>
            
            <img src="/img/404-4.png" id="img404" alt="">
            <div class="cabecera">
                               
                <a class="button" href="/user/logout">Cerrar sesión</a>
                
            </div>
            
        </header>
        <main>
            <br><br><br>
            <form action="buscarPreg" method="post">
                <input type="search" name="busqueda" placeholder="Buscar por titulo/cuerpo de pregunta" id="busqueda">
                <input type="submit" value="Busqueda" class="button">
            </form>
            <h1>Formular pregunta</h1>
        
            
            <form action="newQuestion" method="post" id="formulario">
                <label for="Titulo" class= "formulario" >Titulo</label>
                <label for="Titulo_explicacion" class="formulario_explicacion">Se especifico e imagina que estas haciendo la pregunta a otra persona</label>
                <input type="text" name="titulo" class= "formInput" placeholder="Por ejemplo: @node@css">
                <label for="Cuerpo" class="formulario" >Cuerpo</label>
                <label for="Cuerpo_explicacion" class="formulario_explicacion">Incluye toda la informacion que alguien neceitaria
                     para responder a tu pregunta</label>
                <textarea rows="8" cols="152" name="cuerpo" form="formulario"></textarea>

                <label for="Etiquetas" class= "formulario" >Etiquetas</label>
                <label for="Etiquetas_explicacion" class="formulario_explicacion">Añade hasta 5 etiquetas para describir sobre que 
                    trata tu pregunta</label>
                <input type="text" name="Etiquetas" placeholder="Por ejemplo: @node@css" class= "formInput" > 
                <br>
                <input type="submit" value="Publicar" class="button"> 
            </form>
        
        </main>
    </body>
</html>