<header>
    <div class="cabecera_izq">
        <button type="submit" class="button">Preguntas</button>
        <button type="submit" class="button">Sin responder</button>
        <button type="submit" class="button">Usuarios</button>
    </div>
    <img src="img/404-4.png" id="img404" alt="" class="cabecera">
    <div class="cabecera">
        <img src="img/avatar4.png" alt="avatar4" id="avatar4">

        <button type="submit" class="button">Cerrar sesión</button>
    </div>

</header>