<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/login.css" />
    </head>
    <body>
        <header>
            
                <img src="../img/404-4.png" id="img404" alt="">
            
        </header>
        <main>
            <h1>LOGIN</h1>
            <form action="login" method="post">
                <label for="email" class= "formulario" >Correo :</label>
                <input type="text" name="email"  class="formInput">
                <label for="pass" class= "formulario" >Contrase&ntilde;a :</label>
                <input type="password" name="pass" class="formInput">     
                <br>
                <input type="submit" value="Iniciar sesi&oacute;n" class="button"> 
                
            </form>
           
            <a class="button" href="/user/register">Crear cuenta</a>
        </main>
    </body>
</html>